/* #region base */
body {
    font-family: "Manrope", sans-serif;
    color: white;
    background: linear-gradient(136.07deg, #284c5b 0%, #051317 107.04%);
}

a {
    text-decoration: none;
    color: inherit;
}
/* #endregion */

/* #region common */
.container {
    max-width: 1345px;
    padding: 0 10px;
    margin: 0 auto;
}

.button {
    cursor: pointer;
    width: 161px;
    height: 42px;
    padding: 10px 20px;
    border-style: unset;
    border-radius: 10px 0px 0px 0px;

    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.02em;
}
.button:hover {
    animation: tilt-pulsar 1s linear infinite;
}

.gradient-text {
    background: linear-gradient(136.07deg, #284c5b 0%, #051317 107.04%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.title {
    font-family: "Cormorant Garamond", sans-serif;
    font-weight: 400;
    font-size: 144px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.text {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
}

/* #endregion */

/* #region keyframes */
@keyframes tilt-shaking {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes tilt-rotate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(5deg);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes tilt-pulsar {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.05);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}
/* #endregion */

/* #region nav */
.nav {
    position: relative;
    z-index: 100;
    position: fixed;
    /* top: 30px; */
    padding: 30px 0;
    width: 100%;

    transition: all 0.4s ease-in-out;
}
.nav.down {
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.7);
}
.nav.active {
    padding: 30px 0;
    background-color: transparent;
}

.nav .container {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    cursor: pointer;
}

.nav__logo:hover {
    animation: tilt-shaking 0.6s linear infinite;
}

.nav__burger {
    position: absolute;
    cursor: pointer;
    height: 10px;
    width: 41px;
    left: calc(50% - 20.5px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav__burger div {
    position: absolute;
    border: 1px solid #ffffff;
    width: 100%;
    transition: top 0.4s ease-in-out 0.5s, bottom 0.4s ease-in-out 0.5s,
        transform 0.5s ease-in-out;
}
.nav__burger div:first-of-type {
    top: 0px;
}
.nav__burger div:last-of-type {
    bottom: 0px;
}
.nav.active .nav__burger div {
    transition: top 0.4s ease-in-out, bottom 0.4s ease-in-out,
        transform 0.5s ease-in-out 0.4s;
}
.nav.active .nav__burger div:first-of-type {
    top: calc(50% - 0.5px);
    transform: rotate(25deg);
}
.nav.active .nav__burger div:last-of-type {
    bottom: calc(50% - 0.5px);
    transform: rotate(-25deg);
}

.nav__contact {
    display: flex;
    gap: 20px;
    align-items: center;
}
.nav__contact a {
    position: relative;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -0.03em;
    line-height: 21px;
    text-align: center;
    transition: all 0.4s ease-in-out;
}
.nav__contact a:hover {
    color: #051317;
    transform: scale(1.1);
}
.nav__contact a:after {
    background: #e9d3b6;
    content: "";
    height: 100%;
    left: 52%;
    position: absolute;
    top: -4%;
    -webkit-transform: skew(-12deg) translateX(-50%);
    transform: skew(-12deg) translateX(-50%);
    transition: all 0.4s ease-in-out;
    width: 0;
    z-index: -1;
}
.nav__contact a:hover:after {
    width: 110%;
}

.nav__bg {
    z-index: -1;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    opacity: 0;
    background: linear-gradient(136.07deg, #1b3d4b 0%, #12282e 107.04%);
    transition: all 0.7s ease-in-out;
}
.nav.active .nav__bg {
    opacity: 1;
}

.nav__menu {
    opacity: 0;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Cormorant Garamond";
    font-weight: 400;
    font-size: 64px;
    line-height: 78px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #ffffff;

    transition: opacity 0.7s ease-in-out;
}
.nav.active .nav__menu {
    opacity: 1;
}

.nav__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav__menu-list:hover {
    color: rgba(0, 0, 0, 0.3);
}
.nav__menu-item {
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.nav__menu-item:hover {
    color: #e9d3b6;
}

/* #endregion */

/* #region header */
.header {
    position: relative;
    min-height: 100vh;
}

.header .container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.header__title {
    margin-bottom: 10px;
    max-width: 784px;
}

.booking {
    align-self: center;
    margin: 66px 0 60px;

    display: flex;
    align-items: center;
    gap: 40px;
}

.booking__item {
    position: relative;
}

.booking__item p {
    margin-bottom: 6px;
    width: 167px;

    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
}
.booking__item span {
    font-weight: 200;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.03em;
}
.booking__item div {
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: calc(50% - 10px);
    font-size: 20px;
}

.header__content {
    display: flex;
    justify-content: space-between;
}
.header__swiper-control {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.header__swiper-arrow {
    cursor: pointer;
    width: 98px;
    height: 35px;
    stroke: white;
    stroke-width: 2;
    transition: all 0.4s ease-in-out;
}
.header__swiper-arrow:hover {
    stroke: wheat;
}

.header__swiper-progress {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__swiper-progress > p {
    position: absolute;
    font-family: "Cormorant Garamond";
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #ffffff;
}
#header-cur-slide {
    font-size: 48px;
}
.header-timer {
    transform: scale(1, -1);
}
.header-timer__path-remaining {
    stroke-dasharray: 440 440;
    stroke-width: 2px;
    stroke-linecap: round;
    transform: rotate(180deg);
    transform-origin: center;
    transition: 0.3s linear all;
    stroke: white;
}

#header-bg-swiper {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.header_bg-slide {
    object-fit: cover;
    object-position: center;
}
/* #endregion */

/* #region intro */
.intro {
    min-height: 1101px;
    height: 1px;
    background-image: url(../images/intro_compass.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 122px;
}

.intro .container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.intro .container > p {
    opacity: 0;
}

.intro__main-text {
    max-width: 1010px;
    margin-top: 100px;

    font-family: "Cormorant Garamond";
    font-weight: 500;
    font-size: 96px;
    line-height: 90px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.4);
}
.intro__main-text span {
    color: #e9d3b6;
}

.intro__text {
    align-self: flex-end;
    font-family: "Manrope";
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    width: 100%;
    max-width: 567px;
    color: #e9d3b6;
}
.intro__text:last-of-type {
    color: white;
    margin-top: 10px;
}

.intro__img-swiper-box,
.intro__lscape {
    position: absolute;
    opacity: 0;
    z-index: 1;
}
.intro__lscape {
    border-radius: 40px 0px 0px 0px;
    width: 567px;
    height: 567px;
    bottom: calc(-390px - 100px);
    right: 10px;
}
.intro__img-swiper-box {
    bottom: calc(-196px - 100px);
    left: 10px;
    width: 680px;
    height: 680px;
}

#intro-img-swiper {
    border-radius: 40px 0px 0px 0px;
    width: 100%;
    height: 100%;
}
.intro__swiper-status {
    position: absolute;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;

    display: flex;
    align-items: center;
    gap: 10px;
    bottom: -45px;
    right: 0;
}
.intro__swiper-status > hr {
    width: 44px;
    height: 2px;
    background: linear-gradient(136.07deg, #284c5b 0%, #051317 107.04%);
    border: none;
    margin: 0;
}
/* #endregion */

/* #region about */
.about {
    position: relative;
    padding-top: 381px;
    background: #f2f2f2;
}
.about .container {
    position: relative;
    z-index: 3;
    text-align: center;
    min-height: 1032px;
}

.about__logo {
    position: absolute;
    top: -84px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about__logo > :first-child {
    animation: rotation 15s linear infinite;
}
.about__logo > :last-child {
    position: absolute;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.about__title {
    padding-top: 123px;
    color: black;
}
.about__text {
    color: black;
    max-width: 887px;
    margin: 20px auto 0;
    font-weight: 300;
}

.about__button {
    margin-top: 20px;
    width: 200px;
    height: 42px;
    border: black 1px solid;
}

.about__house {
    z-index: 2;
    max-height: 1032px;
    width: 100vw;
    position: absolute;
    bottom: -100px;
}

.about__chalet {
    z-index: 1;
    position: absolute;
    bottom: 288px;
    right: 0px;
    box-sizing: border-box;
    max-width: 600px;
    background: #ffffff;
    border-radius: 50px 0px 0px 0px;
    padding: 46px 48px 134px 37px;
    text-align: start;
}
/* #endregion */

/* #region habit */
.habit {
    margin: 160px 0;
}

.habbit__head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 25px;
}

.habit__title {
    line-height: 94px;
}

.habbit-menu {
    display: flex;
    padding: 4px;
    height: 42px;
    gap: 10px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px 0px 0px 0px;
}

.habbit-menu__item {
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease-in-out;
}
.habbit-menu__item.active {
    background: #e9d3b6 !important;
}

.habbit-menu__item:nth-of-type(1) {
    width: 68px;
    border-radius: 10px 0px 0px 0px;
}
.habbit-menu__item:nth-of-type(2) {
    width: 99px;
}
.habbit-menu__item:nth-of-type(3) {
    width: 82px;
}

.habbit-menu__item:hover {
    background: rgba(233, 211, 182, 0.7);
}

.habbit-card {
    padding-top: 61px;
    display: flex;
}
#habbit-img-swiper {
    max-width: 892px;
    max-height: 740px;
    border-radius: 40px 0px 0px 0px;
}
#habbit-img-swiper img {
    cursor: url(../images/habbit_cursor.svg) 25 25, pointer;
}
.habbit-card__info-main {
    position: relative;
    box-sizing: border-box;
    padding: 57px 27px 40px 40px;
    background-color: #f2f2f2;
}
#habbit-info-swiper {
    max-width: 386px;
}
.habbit-card__lvl {
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-transform: uppercase;
}
.habbit-card__desc {
    padding: 10px 0 30px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
}

.habbit-card__attr {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 60px;
}
.habbit-card__attr-item h6 {
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #767c84;
}
.habbit-card__attr-item p {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}
.habbit-card__attr-item:last-of-type p {
    line-height: 26px;
    max-width: 220px;
}
.habbit-card__buttons {
    margin-top: 129px;
}
.habbit-card__buttons {
    margin-top: 129px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.habbit-card__buttons button {
    background: linear-gradient(136.07deg, #284c5b 0%, #051317 107.04%);
    color: white;
}
.habbit-card__buttons a {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.03em;
}

.habbit-card__info-foot {
    box-sizing: border-box;
    padding: 32px 40px;
    background: #2b3f47;

    display: flex;
    justify-content: space-between;
}
.habbit-card__info-progress {
    display: flex;
    align-items: center;
    gap: 10px;
}
.habbit-card__info-progress p {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #f2f2f2;
}
.habbit-card__info-progress div {
    width: 44px;
    height: 2px;
    background: #f2f2f2;
}
.habbit-card__info-foot-but {
    display: flex;
    gap: 10px;
}

#habbit-swiper-prev,
#habbit-swiper-next {
    stroke: white;
    fill: none;
    transition: all 0.1s ease-in-out;
}
#habbit-swiper-prev:hover,
#habbit-swiper-next:hover {
    stroke: #2b3f47;
    fill: white;
}
#habbit-swiper-prev:active,
#habbit-swiper-next:active {
    stroke: #2b3f47;
    fill: wheat;
}
/* #endregion */

/* #region bering */
.bering {
    margin: 160px 0;
}

.bering .container {
    text-align: center;
}
/* #endregion */

/* #region name */
/* #endregion */
